{{/* Shortens large numbers to 1K, 1.1K , 1M etc
  eg: {{ partial tweet/_count "1200"
}}

returns 1.2K used to format like, rt count etc */}}
{{ $count := . }}
{{ $thousands := math.Floor (div $count 1_000) }}
{{ $hundreds := math.Floor (mul .01 (mod $count 1_000)) }}

{{/* > 1000 */}}
{{ if (gt $thousands 0) }}
  {{ if gt $hundreds 0 }}
    {{ $count = print $thousands "." $hundreds "K" }}
  {{ else }}
    {{ $count = print $thousands "K" }}
  {{ end }}
{{ end }}

{{/* > 1M */}}
{{ if gt (int .) 1_000_000 }}
  {{ $count = .favorite_count }}
  {{ $millions := (math.Floor (div $count 1_000_000)) }}
  {{ $decimal := (math.Round (div (mod $count 1_000_000) 100_000)) }}
  {{ $count = print $millions "." $decimal "M" }}
{{ end }}

{{ if eq (int .) 0 }}{{ $count = "" }}{{ end }}
{{ $count }}
