{{/* Fetches tweet json data from public syndication api
  No auth required
*/}}

{{/* <!-- NOTE: token is not verified  could be in the future. Using the tweet id for now --> */}}
{{ $url := print "https://cdn.syndication.twimg.com/tweet-result?id=" .id "&token=" .id }}
{{ $data := dict }}

{{ with resources.GetRemote $url (dict "method" "get") }}
  {{ with .Err }}
    {{ warnf "%v" . }}
  {{ else }}
    {{ with .Content | transform.Unmarshal }}
      {{ $data = . }}
    {{ else }}
      {{ warnf "Err %s" .ctx.id_str }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return $data }}
