{{/* Renders a gallery of up to 4 photos */}}
{{ with .ctx.photos }}
  {{ $count := len . }}
  {{/* Wrapper with a gallery-n class for styling purposes */}}
  <div class="gallery gallery-{{ $count }}">
    {{ range $i, $p := . }}
      {{/* Set the base filename for the image without an extension */}}
      {{ $filename := print "/twitter/media/photos/" $.ctx.id_str "-" $i }}
      {{ $w := "" }}
      {{ $h := "" }}
      {{/* Default Width is 480px (for gallery with 2-4 images) */}}
      {{ $formats := (slice (dict "options" "480x webp q80" "extension" ".webp" ) ) }}
      {{ if eq $count 1 }}
        {{/* Set Explicit width & height */}}
        {{ $w = .width }}
        {{ $h = .height }}

        {{/* Portrait mode */}}
        {{ if gt .height .width }}
          {{/* <auto> x 720px */}}
          {{ $formats = (slice (dict "options" "x720 webp q80" "extension" ".webp" ) ) }}
        {{ else }}
          {{/* Landscape mode, 720 x <auto> */}}
          {{ $formats = (slice (dict "options" "720x webp q80" "extension" ".webp" ) ) }}
        {{ end }}
      {{ end }}

      {{/* Render Photo */}}
      {{- partial "tweet/_image" (dict
        "class"    ""
        "url"      .url
        "loading"  "lazy"
        "filename" $filename
        "formats"  $formats
        "width"    $w
        "height"   $h
        "alt"      .accessibilityLabel
        )
      -}}
    {{ end }}
  </div>
{{ end }}
