<!--
  Displays a video or gif from a tweet or quote tweet
  Downloads highest quality video
  TODO: Check if twitter g
-->

{{- with .ctx.video -}}
  {{/* Normal videos */}}
  {{ if eq .contentType "media_entity" }}

    {{/* Initialize variables */}}
    {{- $maxW := 0 -}}
    {{- $maxH := 0 -}}
    {{- $best_video := "" -}}

    {{/* Find Highest Quality video */}}
    {{- range sort .variants "src" -}}
      {{- if (eq .type "video/mp4") -}}
        {{/* Get quality using regex the url ---> */}}
        {{- $quality := findRE `\d{3,4}x\d{3,4}` .src -}}
        {{/* Split to width height  ---> */}}
        {{- $q := split (index $quality 0) "x" -}}
        {{/* Cast to int */}}
        {{- $w := int (index $q 0) -}}
        {{- $h := int (index $q 1) -}}
        {{- if or (gt $w $maxW) (gt $h $maxH) -}}
          {{- $maxW = $w -}}
          {{- $maxH = $h -}}
          {{- $best_video = . -}}
        {{- end -}}
      {{ end }}
    {{ end }}

    {{/* 2. Get width & height from video */}}
    {{- $width  := (index .aspectRatio 0) -}}
    {{- $height := (index .aspectRatio 1) -}}

    {{/* Download poster image */}}
    {{ $poster := .poster }}
    {{ $img := resources.GetRemote .poster }}
    {{ if not $img.Err }}
      {{ $filename := print "/twitter/media/posters/" $.ctx.id_str "." $img.MediaType.SubType }}
      {{ $img = $img.Content | resources.FromString $filename }}
      {{ $poster = $img.RelPermalink }}
    {{ end }}


    <!---  3. Render Video --->
    {{ with $best_video }}
      {{ $src := .src }}


      <video
        src="{{ $src }}"
        class="tweet-video"
        style="aspect-ratio: {{ $maxW }}/{{ $maxH }}; width: 100%; height: auto;"
        preload="metadata"
        controls
        poster="{{ $poster }}"
      ></video>
    {{ end }}
  {{ end }}

  {{/* Gifs */}}
  {{ if eq .contentType "gif" }}
    {{ $gif := "" }}
    {{ $src := "" }}
    {{ range .variants }}
      {{ $src = .src }}
    {{ end }}

    {{/* Download Video */}}

    <!---  2. Get width & height --->
    {{- $width  := (index .aspectRatio 0) -}}
    {{- $height := (index .aspectRatio 1) -}}

    <video
      style="aspect-ratio: {{ $width }}/{{ $height }}; width: 100%; height: auto;"
      width="{{ $width }}"
      height="{{ $height }}"
      src="{{ $src }}"
      playsinline
      autoplay
      loop
      muted
    ></video>
  {{ end }}
{{ end }}
