<div class="promo_image_convo">
  {{ $formats := (slice (dict "options" "webp q80" "extension" ".webp")) }}
  {{ with .binding_values.promo_image.image_value }}
    {{- partial "tweet/_image" (dict
      "class"    "promo_image"
      "url"      .url
      "loading"  "lazy"
      "filename" ""
      "formats"  $formats
      "width"    .width
      "height"   .height
      "alt"      "" )
    -}}
  {{ end }}
  {{ with .binding_values }}
    {{ if .cta_one.string_value }}
      <a class="cta-btn" href="#"> Tweet {{ .cta_one.string_value }}</a>
    {{ end }}

    {{ if .cta_two.string_value }}
      <a class="cta-btn" href="#"> Tweet {{ .cta_two.string_value }}</a>
    {{ end }}

    {{ if .cta_three.string_value }}
      <a class="cta-btn" href="#"> Tweet {{ .cta_three.string_value }}</a>
    {{ end }}

    {{ if .cta_four.string_value }}
      <a class="cta-btn" href="#">Tweet{{ .cta_four.string_value }}</a>
    {{ end }}
  {{ end }}
</div>
