<div class="promo_image_convo">
  {{ with .binding_values.promo_image.image_value }}
    {{ $filename := replace .url "https://pbs.twimg.com/" "twiter/media/promo_images/" }}
    {{ $filename := replace $filename "?format=jpg&name=orig" "" }}
    {{ $filename := replace $filename "?format=png&name=orig" "" }}
    {{ $filename := replace $filename "ad_img" "_ad_img_" }}

    {{ $formats := (slice (dict "options"  (print .width "x" .height " webp q75") "extension" ".webp")) }}
    {{- partial "tweet/_image"
      (dict
      "url"      .url
      "filename" (print $filename "rf")
      "formats"  $formats
      "width"    .width
      "height"   .height
      "loading"  "lazy"
      "class"    ""
      "alt"      "" )
    -}}
  {{ end }}
  {{ with .binding_values }}
    {{ if .cta_one.string_value }}
      <a class="cta-btn" href="#"> Tweet {{ .cta_one.string_value }}</a>
    {{ end }}

    {{ if .cta_two.string_value }}
      <a class="cta-btn" href="#"> Tweet {{ .cta_two.string_value }}</a>
    {{ end }}

    {{ if .cta_three.string_value }}
      <a class="cta-btn" href="#"> Tweet {{ .cta_three.string_value }}</a>
    {{ end }}

    {{ if .cta_four.string_value }}
      <a class="cta-btn" href="#">Tweet{{ .cta_four.string_value }}</a>
    {{ end }}
  {{ end }}
</div>
